* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.country-info {
  display: flex;
  flex-direction: column;
}

.counrty-item {
  font-size: 60px;
}

.flag-svg,
.one-flag {
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
}

.one-country {
  display: flex;
  flex-direction: column;
}

.country-name {
  font-size: 50px;
}

.item-info {
  font-size: 40px;
}
